html,body { height:100%; }
body{
	margin:0;
	color:#6a6f8c;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.toggler{
	width:50px;
	height: 40px;
	color: green;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 0;
}

.form-wrap{
	display: inline-block;
	width:100%;
	height: 100%;
	position:relative;
}
.form-html, .form{
	width:100%;
	height:100%;
	max-width: 525px;
	min-height: 670px;
	margin: 0 auto;
	padding:100px 70px 50px 90px;
}
.form-html .sign-in-htm,
.form-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.form-html .sign-in,
.form-html .sign-up{
	display:none;
}
.form-html .tab,
.form .group .label,
.form .group .button{
	text-transform:uppercase;
}
.form-html .tab{
	font-size:22px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.form-html .sign-in:checked + .tab,
.form-html .sign-up:checked + .tab{
	color:#000;
	border-color:#1161ee;
}
.form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}

.form .sign-in-htm,
.form .sign-up-htm{
	margin-top: 50px;
}
.form .group{
	margin-bottom:15px;
	text-align: center;
}
.form .group .label,
.form .group .input,
.form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.form .group .input:focus{
	outline: none;
}
.form .group .button:focus{
	outline: none;
	background:#116199;
}
.form .group .input{
	color: black;
}

.form .group .button,
.form .group .input{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(100, 100, 100, 0.3);
}
.form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.form .group .label{
	color:#555;
	font-size:12px;
}
.form .group .button{
	background:#1161ee;
}
.form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.form .group label .icon:before,
.form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.form .group .check:checked + label{
	color:#000;
}
.form .group .check:checked + label .icon{
	background:#1161ee;
}

.form-html .sign-in:checked + .tab + .sign-up + .tab + .form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.form-html .sign-up:checked + .tab + .form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:30px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

#captcha{
	margin-top: 10px;
}

.refresh{
	margin-left: 5px;
}

.messages{
	display: inline-block;
	max-width: 600px;
	margin: 0 auto;
}

.socials{
	margin-top: 30px;
	text-align: center;
}

.btn{
	margin: 0 5px;
}

.btn-qr {
	background-color: #a29f35;
	border-color: rgba(0,0,0,.2);
	color: white;
}

.btn-qr:hover {
	background-color: #a28500;
	border-color: rgba(0,0,0,.2);
	color: white;
}

.btn-sms {
	background-color: #37a235;
	border-color: rgba(0,0,0,.2);
	color: white;
}

.btn-sms:hover {
	background-color: #7ca281;
	border-color: rgba(0,0,0,.2);
	color: white;
}

.lockedField{
	position: relative;
	margin: -30px 30px 0 0;
	float: right;
}

.form-profile, .form-reset{
	max-width: 600px;
	margin: 0 auto;
	max-height: 100%;
}

input[type=radio]{
	margin-left: 20px;
}

.image-preview{
	text-align: center;
	margin-bottom: 20px;
}

#image, .avatar{
	width:200px;
	height: 200px;
	border-radius: 50%;
}

#e404container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90%;
}

.e404 {
	width: 300px;
	margin: 5px;
	text-align: center;
	color: black;
}

.e404 h1 {
	font-size: 75px;
}

.e404 p {
	font-size: 20px;
}

.reset{
	margin-top: 150px;
	color: black;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
}

.space{
	margin-top: 50px;
}

.small-space {
	margin-top: 20px;
}